.menu {

	// .menu__top
	&__top {
		padding: 25px 0;
		display: grid;
		grid-template: 1fr / repeat(4, auto);
		column-gap: 20px;
		justify-items: center;
		align-items: center;
		position: relative;

		&::after {
			content: "";
			width: 100%;
			height: 1px;
			left: 0;
			bottom: 0;
			position: absolute;
			background-color: rgba(255, 255, 255, 0.3);
		}
	}

	// .menu__top-logo
	&__top-logo {
		justify-self: start;
		position: relative;
		z-index: 5;

		svg:hover {
			fill: $color-hover;
		}
		svg {
			transition: all 0.3s ease;
		}
	}

	// .menu__top-contacts
	&__top-contacts {
		a {
			color: #fff;
			font-size: 14px;
			line-height: 140%;
			font-weight: 550;
			transition: all 0.3s ease;
		}
		a:hover{
			text-decoration: underline;
		}
	}

	// .menu__top-contacts-link
	&__top-contacts-link {}

	// .menu__top-search
	&__top-search {
		position: relative;
		z-index: 5;
		justify-self: end;
		svg:hover {
			fill: $color-hover;
		}
		svg {
			transition: all 0.3s ease;
		}
	}

	// .menu__bottom
	&__bottom {
		margin: 20px 0px 0px 0px;
		transition: 0.3s all ease;
	}

	// .menu__bottom-list
	&__bottom-list {
		display: grid;
		grid-template-columns: repeat(7, auto);
		justify-content: space-between;
		justify-items: center;
	}

	// .menu__bottom-link
	&__bottom-link {
		font-size: 14px;
		line-height: 140%;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		transition: all 0.3s ease;
		&:hover{
			text-decoration: underline;
		}
	}
}
