.news {

	// news__container 
	&__container {
		position: relative;
		z-index: 1;
		padding-bottom: 160px;
	}

	// .news__title
	&__title {
		margin: 137px 0px 100px 0px;
		display: grid;
		grid-template: auto / auto auto;
		align-items: center;
	}

	// .news__title-left
	&__title-left {
		text-transform: uppercase;
		font-size: 36px;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: 1.8px;
		color: #333;
	}

	// .news__title-right
	&__title-right {
		justify-self: right;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		line-height: 140%;
		letter-spacing: 0.9px;
		color: #133D8D;

		a {
			transition: 0.3s all ease;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	// .news__items
	&__items {}

	// news__items-wrap
	&__items-wrap {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(306px, auto));
		gap: 20px;
		justify-content: space-between;
	}

	// .news__item
	&__item {
		padding: 25px;
		max-width: 306px;
		position: relative;
		z-index: inherit;
		color: #fff;
		transition: 0.3s all ease;
		
		img{
			transition: 0.3s all ease;
		}

		&:hover {
			img {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
			}
			transform: scale(1.02);
		}
	}

	// news__item-wrapper
	&__item-wrapper {
		min-height: 100%;
		display: grid;
		grid-template-rows: 1fr minmax(auto, 1fr);
	}

	// .news__item-date
	&__item-date {}

	// .news__item-link
	&__item-link {
		padding: 5px 12px;
		max-height: 31px;
		display: inline-block;
		background-color: $bg-color;
		transition: all 0.3s ease;

		&:hover {
			background-color: $color-hover;
		}

		font-size: 13px;
		font-weight: 550;
		opacity: 0.9;
		color: #fff;
	}

	// .news__item-text
	&__item-text {}

	// .news__item-text-bold
	&__item-text-bold {
		margin: 0px 0px 15px 0px;
		max-height: 66px;
		font-size: 16px;
		font-weight: 550;
	}

	// .news__item-text-light
	&__item-text-light {
		max-height: 60px;
		font-size: 14px;
		font-weight: 400;
		opacity: 0.75;
	}

	// news__item-bg
	&__item-bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		object-fit: cover;
	}
}



// .test {
// 	color: black;
// 	min-height: 100vh;

// }

// .test__wrapper {
// 	min-height: 100vh;
// 	display: grid;
// 	grid-template: minmax(100px, auto) 1fr minmax(100px, auto) / 1fr;
// }

// .header__test {
// 	padding: 10px;
// 	min-width: 100%;
// 	display: block;
// 	position: fixed;
// 	background-color: rgb(129, 129, 194);
// 	box-shadow: 0 0 10px #000;
// 	text-align: center;
// 	text-transform: uppercase;
// 	font-weight: 700;
// 	font-size: 30px;
// }

// .main__test {
// 	padding: 62px 10px 10px 10px;
// 	background-color: #dc9c9c;

// 	display: flex;
// 	flex-direction: column;
// 	gap: 20px;
// }

// .footer {
// 	padding: 10px;
// 	align-items: center;
// 	color: #fff;
// 	background-color: #583b3b;
// }

